<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Export des données</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <header class="admin-header">
            <div class="admin-header-info">
                <h1>Portail Administrateur</h1>
                <h3>Connecté en tant que : {adminName}</h3>
            </div>

            <nav class="admin-navbar">

                <a class="btn btn-primary" href="/admin">Accueil</a>

                <a class="btn btn-primary" href="/admin/notification">Notifications</a>

                <a class="btn btn-primary" href="/admin/export">Exporter</a>

                <a class="btn btn-danger" href="/admin/logout">Déconnexion</a>

            </nav>
        </header>

        <div>
            <h2 class="notification-title">Exporter les données en tableurs Excel</h2>
            <a class="btn btn-primary" href="/admin/export/temperature">Temperature</a>
        </div>
    </div>
</body>