<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Mesure {measure.id}</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<script>
    async function deleteMeasure() {
        const response = await fetch(`/api/measures/{measure.id}`, {
            method: "DELETE"
        });
        console.log(response)
        if (response.status === 204) {
            window.location="/admin"
        } else {
            alert("Erreur lors de la suppression.");
        }
    }
</script>

<body>
<div>
    <h2>Mesure {measure.id}</h2>
    <p>Id : {measure.id}</p>
    <p>Auteur : {measure.author}</p>
    <p>Date : {measure.date}</p>
    <p>Lieu : {measure.location}</p>
    <p>Type : {measure.type.getLabel()}</p>

    {#if measure.type.name == "TEMPERATURE"}
        <p>Degré : {measure.degree}</p>

    {#else if measure.type.name == "SNOW_HEIGHT"}
        <p>Hauteur : {measure.height}</p>
        <p>Condition météo : {measure.weather.getLabel()}</p>
        <p>Précipitation : {measure.precipitation}</p>

    {#else if measure.type.name == "BIRD_MIGRATION"}
        <p>Espèce : {measure.specie.getLabel()}</p>
        <p>Evénement : {measure.event.getLabel()}</p>

    {#else if measure.type.name == "EGGS_LAYING"}
        <p>Nombre de pontes : {measure.number}</p>
    {/if}

    <button onclick=""> Modifier</button>
    <button onclick="deleteMeasure()"> Supprimer</button>
</div>

</body>